@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#display-font {
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* #github{
    font-size: 1rem;
    color: #F6F7EB;
} */

/* imagtes sizes */
/* w92, w154, w185, w342, w500, w780, */